@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    color: white;
}

body{
    height: 100vh;
    background-image: url(../assets/img/background-default.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: rgba(40, 117, 195, .4);
    padding: 8px 100px;
}

#imgLogo{
    width: 90px;
}

#search{
    background-color: rgba(40, 117, 195, .5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

#inputCity{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 15px;
    outline: none;
    font-size: 1.2rem;
}

#inputCity:active{
    background-color: transparent;
}

#btSearchCity{
    background-color: rgba(40, 117, 195, .5);
    padding: 10px 15px;
    border-radius: 15px;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#container{
    width: 100%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container h1{
    font-size: 4em;
    font-weight: 400;
    text-shadow: 5px 2px #3b3b3b;
}

#informations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainInformations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nameCity{
    font-size: 5em;
    font-weight: 200;
}

#temp{
    font-size: 8em;
    padding-left: 15px;
}

#divCondition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 600;
    gap: 5px;
    text-transform:capitalize;
}

#divMaxMinTemp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#otherInformations{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#otherInformations div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 117, 195, .4);
    padding: 15px;
    border-radius: 15px;
    width: 130px;
    height: 90%;
}

#otherInformations div p:nth-child(1){
    font-size: 0.7em;
}

#otherInformations div p:nth-child(2){
    font-size: 5em;
    margin-top: -10px;
    margin-bottom: -10px;
}

#otherInformations div p:nth-child(3){
    font-size: 1.2em;
}

.hidden{
    display: none !important;
}